%h1 Listing heads

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @heads.each do |head|
      %tr
        %td= link_to 'Show', head
        %td= link_to 'Edit', edit_head_path(head)
        %td= link_to 'Destroy', head, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Head', new_head_path
